@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="Index.cshtml.css">
		<style type="text/css">
			.block1 {
				margin-top: -70px;
				width: 900px;
				height: 630px;
			}
			.block2 {
				width: 1400px;
				height: 10px;
			}
		</style>
	</head>

	<body>
		<h1 class="neon-text">ChatGPT</h1>

		<div class="block1">
			<textarea style="border: 2px solid #2196f3" class="message" name="log" readonly>@ViewBag.Message</textarea>
		</div>

		<div class="block2">
			@using (Html.AjaxBeginForm("ChatGPTResponse", new AjaxOptions
			{
				HttpMethod = "post",
			}))
			{
				<style type="text/css">
					body {
						background: #031321;
					}
				</style>
				
				<textarea placeholder="Введите запрос" class="message" style="border: 2px solid #2196f3" name="userMessage"></textarea>

				<input type="submit" id="sendBtn" value="Отправить">
				
			}
		</div>
	</body>
</html>